{% extends 'base.html' %}
{% block content %} {% load static %}
<div class="d-flex justify-content-center align-items-center vh-100" style="">
  <div class="d-grid gap-3 col-8 m-2 rounded p-4"  style="background-color:white;">
    <h1 class="text-center text-primary">KASIR</h1>
    <form method="post">
      {% csrf_token %}
      {% for message in messages %}
      {% if messages %}
      <div class="alert alert-primary fade-out">{{ message }}</div>
      {% endif %}
      {% endfor %}
      
      <!-- Nama Barang -->
      <div class="form-floating mb-3">
        {{ form.nama_barang }}
        <label for="id_nama_barang">Nama Barang</label>
      </div>

      <!-- Jumlah Barang Masuk -->
      <div class="form-floating mb-3">
        {{ form.harga }}
        <label for="id_harga">Harga</label>
      </div>

      <!-- Jumlah Barang Terjual -->
      <div class="form-floating mb-3">
        {{ form.quantity }}
        <label for="id_quantity">Quantity</label>
      </div>

      <!-- Sisa Barang -->
      <div class="form-floating mb-3">
        {{ form.total }}
        <label for="id_total">Total</label>
      </div>

      <button class="btn btn-primary w-100 d-flex justify-content-between align-items-center" type="submit">
        <span>Simpan</span>
        <i class="fa-solid fa-square-pen fa-xl"></i>
      </button>
    </form>
  </div>
</div>
{% endblock %}
