{% extends 'base.html' %} {% block content %} {% load static %}
<!--batas main-->
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-grid gap-3 col-8 bg-light m-2 rounded p-4">
    <h1 class="text-center text-primary">MENU</h1>
    <a
      href="{% url 'kasir' %}"
      class="btn btn-primary d-flex justify-content-between align-items-center"
    >
      <span>Kasir</span>
      <i class="fa-solid fa-calculator"></i>
    </a>
    <a
      href="{% url 'gudang' %}"
      class="btn btn-primary d-flex justify-content-between align-items-center"
    >
      <span>Gudang</span>
      <i class="fa-solid fa-warehouse"></i>
    </a>
    <a
      href="{% url 'pembukuan' %}"
      class="btn btn-primary d-flex justify-content-between align-items-center"
    >
      <span>Pembukuan</span>
      <i class="fa-solid fa-book"></i>
    </a>
    <a
      href="{% url 'inputdata' %}"
      class="btn btn-primary d-flex justify-content-between align-items-center"
    >
      <span>Input Data</span>
      <i class="fa-solid fa-database"></i>
    </a>
  </div>
</div>
<!--batas main-->
{% endblock %}
